@media all and (max-width: 768px) {
  .navTop {
    display: none;
  }

  .imgLogo {
    position: absolute;
    margin-left: -45px;
  }

  .categoryRes {
    float: right;
  }
  
  .card {
    height: 40px;
  }

  .form-control {
    height: 20px;
  }

  .input-group-appendBtn {
    display: none;
  }

  .input-group-text {
    margin-left: -8px;
    margin-top: -5px;
    background-color: white;
  }

  .navDown {
    height: 105px;
  }

  .category a {
    font-size: 14px;
  }
  
  .navDownRightItem {
    display: none;
  }

  .box2 {
    display: none;
  }

  .box {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    position: absolute;
    margin: 0px;
    width: 100%;
    float: none;
   
  }

  #carouselExampleIndicators {
    height: 145px;
  }

  .bannerCarousel {
    height: 145px;
  }

  .cardWall {
    height: 85px;
    border-radius: 0px;
    box-shadow: none;
    background-color: #8EE269;
  }

  .grid-container {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto ;
    grid-gap: 6px;
    background-color: white;
    padding: 7px;
  }
  
  .grid-container > div {
    text-align: center;
    padding: 20px 0;
    font-size: 13px;
  }
  
  .grid-container a {
    color: black;
  } 
  
  .wallCategory {
    margin-right: 30px;
    margin-left: 30px;
  }
  
  .label {
    margin-top: 190px;
    margin-bottom: 10px;
  }
  
  .label a {
    font-size: 20px;
    font-weight: bold;
  }

  
  /* Wall Category */
  
  .wallCategory .grid-container .card {
    height: auto;
  }
}


@media (max-width: 992px) {
  /* small tablet devices */
  .navTop {
    display: none;
  }

  .imgLogo {
    position: absolute;
    margin-left: -45px;
  }

  .categoryRes {
    float: right;
  }
  
  .card {
    height: auto;
  }

  .form-control {
    height: 20px;
  }

  .input-group-appendBtn {
    display: none;
  }

  .input-group-text {
    margin-left: -8px;
    margin-top: -5px;
    background-color: white;
  }

  .navDown {
    height: 105px;
  }

  .category a {
    font-size: 14px;
  }
  
  .navDownRightItem {
    display: none;
  }

  .box2 {
    display: none;
  }

  .box {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    position: absolute;
    margin: 0px;
    width: 100%;
    float: none;
   
  }

  
  #carouselExampleIndicators {
    height: 145px;
  }

  .bannerCarousel {
    height: 145px;
  }

  .cardWall {
    height: 85px;
    border-radius: 0px;
    box-shadow: none;
    background-color: #8EE269;
  }

  .wallCategory {
    margin-right: 30px;
    margin-left: 30px;
}

.label {
  margin-top: 190px;
  margin-bottom: 10px;
}

.label a {
  font-size: 16px;
  font-weight: bold;
}

.input-group-text {

  margin-top: 0px;

}
.input-group {
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 0px;
  text-align: center;
}

.form-control {
  height: 40px;
}
 
}

@media (width: 1024px)  {
  .btnNavDown {
    font-size: 13px;
    font-family: 'Roboto';
    background-color: white;
    border-radius: 9px;
    height: 30px;
    border: none;
    width: 61px;
}

.navDownleftItem {
  text-align: left;
  padding-left: 30px;
}

.imgLogo {
    padding-right: 17px;
}

.itemLeft {
  padding-left: 20px;
}
.itemRight {
  padding-right: 20px;
}

.box {
  margin-top: 20px;
  margin-left: 40px;
  float: left;
  width: 61%;
}

.box2 {
  margin-right: 40px;
  float: right;
  width: 30%;
  height: 241px;
}

.wallCategory {
  margin-right: 40px;
  margin-left: 40px;
}

}

@media (max-width: 1140px) {


}






