@media only screen and (max-width: 600px) {
  .navTop {
    display: none;
  }

  .imgLogo {
    position: absolute;
    margin-left: -45px;
  }

  .categoryRes {
    float: right;
  }
  
  .card {
    height: 40px;
  }

  .form-control {
    height: 20px;
  }

  .input-group-appendBtn {
    display: none;
  }

  .input-group-text {
    margin-left: -8px;
    margin-top: -5px;
    background-color: white;
  }

  .navDown {
    height: 105px;
  }

  .category a {
    font-size: 14px;
  }
  
  .navDownRightItem {
    display: none;
  }

  .box2 {
    display: none;
  }

  .box {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    position: absolute;
    margin: 0px;
    width: 100%;
    float: none;
   
  }

  #carouselExampleIndicators {
    height: 120px;
  }

  .bannerCarousel {
    height: 120px;
  }

  .cardWall {
    height: 70px;
    border-radius: 0px;
    box-shadow: none;
    background-color: #8EE269;
  }

  .grid-container {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto ;
    grid-gap: 6px;
    background-color: white;
    padding: 7px;
  }
  
  .grid-container > div {
    text-align: center;
    padding: 20px 0;
    font-size: 13px;
  }
  
  .grid-container a {
    color: black;
  } 
  
  .wallCategory {
    margin-right: 30px;
    margin-left: 30px;
  }
  
  .label {
    margin-top: 160px;
    margin-bottom: 10px;
  }
  
  .label a {
    font-size: 20px;
    font-weight: bold;
  }

  
  /* Wall Category */
  
  .wallCategory .grid-container .card {
    height: auto;
  }
  
  /* .item img {
    width: 10px;
  } */
}


@media only screen and (max-width: 767px){
    .navTop {
      display: none;
    }

    .imgLogo {
      position: absolute;
      margin-left: -45px;
    }

    .categoryRes {
      float: right;
    }
    
    .card {
      height: auto;
    }

    .form-control {
      height: 20px;
    }

    .input-group-appendBtn {
      display: none;
    }

    .input-group-text {
      margin-left: -8px;
      margin-top: -5px;
      background-color: white;
    }

    .navDown {
      height: 105px;
    }

    .category a {
      font-size: 14px;
    }
    
    .navDownRightItem {
      display: none;
    }

    .box2 {
      display: none;
    }
  
    .box {
      padding-top: 10px;
      padding-left: 30px;
      padding-right: 30px;
      position: absolute;
      margin: 0px;
      width: 100%;
      float: none;
     
    }
  
    
    #carouselExampleIndicators {
      height: 120px;
    }
  
    .bannerCarousel {
      height: 120px;
    }
  
    .cardWall {
      height: 70px;
      border-radius: 0px;
      box-shadow: none;
      background-color: #8EE269;
    }
  
   
  }

  @media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .navTop {
      display: none;
    }

    .imgLogo {
      position: absolute;
      margin-left: -45px;
    }

    .categoryRes {
      float: right;
    }
    
    .card {
      height: 40px;
    }

    .form-control {
      height: 20px;
    }

    .input-group-appendBtn {
      display: none;
    }

    .input-group-text {
      margin-left: -8px;
      margin-top: -5px;
      background-color: white;
    }

    .navDown {
      height: 105px;
    }

    .category a {
      font-size: 14px;
    }
    
    .navDownRightItem {
      display: none;
    }

    .box2 {
      display: none;
    }
  
    .box {
      padding-top: 10px;
      padding-left: 30px;
      padding-right: 30px;
      position: absolute;
      margin: 0px;
      width: 100%;
      float: none;
 
    }
  
    
    #carouselExampleIndicators {
      height: 240px;
    }
  
    .bannerCarousel {
      height: 240px;

    }
  
    .cardWall {
      height: 132px;
      box-shadow: none;
      background-color: #8EE269;
    }

   
  
}
  


  @media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .btnNavDown {
      width: 60px;
      padding-right: 0px;
    }
    
    .itemLeft {
      padding-left: 0px;
    }

    .itemRight {
      padding-right: 0px;
    }

    .navDownleftItem {
      text-align: left;
      padding-left: 0px;

    }

    .imgLogo 
     {
       padding-right: 16px;
      padding-left: 16px;
     }

     .navDownRightItem {
      text-align: right;
      padding-right: 0px;
  }

  .imgCart {
    padding-left: 23px;
    padding-right: 18px;
}
  
  }

  @media (min-width: 1025px) and (max-width: 1280px) {
  
    .btnNavDown {
      width: 60px;
      padding-right: 0px;
    }
    
    .itemLeft {
      padding-left: 0px;
    }

    .itemRight {
      padding-right: 0px;
    }

    .navDownleftItem {
      text-align: left;
      padding-left: 0px;

    }

    .imgLogo 
     {
       padding-right: 16px;
      padding-left: 16px;
     }

     .navDownRightItem {
      text-align: right;
      padding-right: 0px;
  }

  .imgCart {
    padding-left: 23px;
    padding-right: 18px;
}


    
  }
