@import url('https://fonts.googleapis.com/css?family=Manrope|Oxygen|Roboto&display=swap');
body{
  background-color: rgb(255, 255, 255);
}
* {
  box-sizing: border-box;
}
/* start navbar1 */
.navbar {
  height: 33px;
  background-color: rgb(108, 197, 70);
}

.navDown {
  width: 100%;
  height: 90px; 
}

.navbar {
  box-shadow: none;
}
nav a {
  font-size: 13px;
  font-family: 'Roboto';
}
.itemLeft{
  padding-left: 50px;
}

.itemRight {
  padding-right: 50px;
}

/* end navbar1 */

/* Start navbar2 */
.navDownleftItem {
  text-align: left;
  padding-left: 60px;
}

.navDownRightItem {
  text-align: right;
  padding-right: 60px;
}

.imgLogo {
  padding-right: 50px;
}

.navDownCenterItem {
  text-align: center;
}

.input-group-text {
  background-color: #8EE269;
  border: none;
}
.input-group {
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 13px;
  text-align: center;
}

.form-control {
  border: none;;
}

.card {
  height: 60px;
}

.category a {
  font-size: 16px;
  font-family: 'Roboto';
}

.imgCart {
  padding-right: 18px;
}

.btn {
  height: 40px;
}

.btnNavDown {
  font-size: 13px;
  font-family: 'Roboto';
  background-color: white;
  border-radius: 9px;
  height: 30px;
  border: none;
  width: 90px;
}
/* end navbar2 */

/* Articel carousel */
.container {
  margin: 0 auto;
  height: 900px;
}

.box {
  margin-top: 20px;
  margin-left: 70px;
  float: left;
  width: 59%;
}

.box2 {
  margin-right: 70px;
  float:right;
  width: 30%;
  height: 241px;
}

.bannerChildTop {
  border-radius: 0px;
  width: 100%;
  height: 120px;
  margin-top: 20px;
  margin-bottom: 8px;
  border-radius: 9px;
}
.bannerChildDown{
  width: 100%;
  height: 120px;
  border-radius: 0px;
  border-radius: 9px;
}

.bannerCarousel {
  width:100%;
  height: 248px;
  border-radius: 9px;
}

.wallCarousel {
  width:100%;
  height: 248px;
  border-radius: 9px;
}



/* End Articel carousel */

/* Main Item */
.grid-container {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 144px 144px 144px 144px 144px 144px 144px 144px ;
  grid-gap: 6px;

  /* margin-top: 350px; */
  
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 16px;
  font-family: 'Roboto';
}

.grid-container a {
  color: black;
} 

.mainItem {
  margin-right: 70px;
  margin-left: 70px;
}

.label {
  margin-top: 318px;
  margin-bottom: 10px;
}

.labelStyle {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Roboto';
  color: rgb(108, 197, 70);
}

.labelTitle {
  margin-top: 60px;
}

.todays-item {
  margin-top: 50px;
}

.labelStyleChild{
  font-size: 14px;
  font-weight: lighter;
}

.wallProduct {
  height: auto;
  border-radius: 5px;
}

.imgProduct {
  height: auto;
}

.nameProduct {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
}

.nameProduct a {
  font-weight: bold;
  color: black;
}

.contentProduct {
  margin-left: 10px;
  margin-right: 10px;
}

.contentProduct2 {
  margin-top: px;
  margin-left: 10px;
  margin-right: 10px;

}

.contentProduct2 p {
  font-family: "Roboto";
  font-size: 12px;
  color: rgb(201, 201, 201);
}

.rating {
  font-family: "Roboto";
  font-size: 12px;
  color: black;
  margin-top: 7px;
  
}


.product-fruit-wrapper,
.product-fruit-img {
    position: relative;
    transition: all .3s ease 0s;
}
.product-fruit-img > img {
    border-radius: 10px 10px 0 0;
    width: 100%;
}
.product-furit-action {
    bottom: 0;
    display: flex;
    justify-content: space-between;
    left: 0;
    opacity: 0;
    right: 0;
    position: absolute;
    overflow: hidden;
    transition: all 0.4s ease 0s;
}
.product-furit-action a {
    background-color: #85bd02;
    border-radius: 0 50px 50px 0;
    color: #fff;
    font-size: 24px;
    height: 50px;
    line-height: 56px;
    text-align: center;
    width: 70px;
}
.product-furit-action a:hover {
    background-color: #333;
}
.product-furit-action a.furit-animate-left {
    border-radius: 0 50px 50px 0;
}
.product-furit-action a.furit-animate-right {
    border-radius: 50px 0px 0px 50px;
}
.product-fruit-content > h4 {
    color: #444444;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.2px;
    margin-bottom: 6px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "Roboto";
}
.product-fruit-content > h4 a {
    color: #444444;
    font-family: "Roboto";
    
}
.product-fruit-content > h4 a:hover {
    color: #85bd02;
}
.product-fruit-content > span {
    color: #85bd02;
    font-size: 18px;
}
.product-fruit-content {
    padding: 30px 10px 34px;
    background-color: transparent;
    transition: all .3s ease 0s;
}
.product-fruit-wrapper:hover .product-fruit-img {
    border-radius: 10px 10px 0px 0px;
}
.product-fruit-wrapper:hover .product-fruit-content {
    background-color: #fff;
    border-radius: 0px 0px 10px 10px;
}
.product-furit-action a.furit-animate-left {
    transform: translateX(-20px);
    transition: all 0.4s ease 0s;
}
.product-furit-action a.furit-animate-right {
    transform: translateX(20px);
    transition: all 0.4s ease 0s;
}
.product-fruit-wrapper:hover .product-furit-action a.furit-animate-left {
    transform: translateX(0px);
}
.product-fruit-wrapper:hover .product-furit-action a.furit-animate-right {
    transform: translateX(0px);
}
.product-fruit-wrapper:hover {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px 10px 10px 10px;
}
.product-fruit-wrapper:hover .product-furit-action {
    opacity: 1
}
.section-title-furits > h2 {
    color: #434343;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 0.2px;
    margin: 25px 0 0;
    position: relative;
    font-family: "Roboto";
}
.section-title-furits > h2::before {
    background-color: #85bd02;
    bottom: -13px;
    content: "";
    height: 2px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    width: 60px;
}
.section-title-furits {
  margin-top: -15px;
    position: relative;
    margin-bottom: 50px;
}
.product-fruit-slider.owl-carousel .owl-stage-outer {


   padding-bottom: 25px;
}

.product-fruit-slider {
  height: auto;
}
.product-style-area .container-fluid {
    padding: 0 1px;
}
.popularCategory {
  margin-top: 270px;

}

.location {
  font-weight: lighter;
  font-family: "Roboto";
  color: rgb(170, 170, 170);
}

.title {
  margin-top: -65px;
}