@import url('https://fonts.googleapis.com/css?family=Manrope|Oxygen|Roboto&display=swap');
body{
  background-color: rgb(255, 255, 255);
}
* {
  box-sizing: border-box;
}
/* start navbar1 */
.navbar {
  height: 33px;
  background-color: rgb(108, 197, 70);
}

.navDown {
  width: 100%;
  height: 90px; 
}

.navbar {
  box-shadow: none;
}
nav a {
  font-size: 13px;
  font-family: 'Roboto';
}
.itemLeft{
  padding-left: 50px;
}

.itemRight {
  padding-right: 50px;
}

/* end navbar1 */

/* Start navbar2 */
.navDownleftItem {
  text-align: left;
  padding-left: 60px;
}

.navDownRightItem {
  text-align: right;
  padding-right: 60px;
}

.imgLogo {
  padding-right: 50px;
}

.navDownCenterItem {
  text-align: center;
}

.input-group-text {
  background-color: #8EE269;
  border: none;
}
.input-group {
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 13px;
  text-align: center;
}

.form-control {
  border: none;;
}

.card {
  height: 60px;
}

.category a {
  font-size: 16px;
  font-family: 'Roboto';
}

.imgCart {
  padding-right: 18px;
}

.btn {
  height: 40px;
}

.btnNavDown {
  font-size: 13px;
  font-family: 'Roboto';
  background-color: white;
  border-radius: 9px;
  height: 30px;
  border: none;
  width: 90px;
}
/* end navbar2 */

/* Articel carousel */
.container {
  margin: 0 auto;
  height: 900px;
}

.box {
  margin-top: 20px;
  margin-left: 70px;
  float: left;
  width: 59%;
}

.box2 {
  margin-right: 70px;
  float:right;
  width: 30%;
  height: 241px;
}

.bannerChildTop {
  border-radius: 0px;
  width: 100%;
  height: 120px;
  margin-top: 20px;
  margin-bottom: 8px;
  border-radius: 9px;
}
.bannerChildDown{
  width: 100%;
  height: 120px;
  border-radius: 0px;
  border-radius: 9px;
}

.bannerCarousel {
  width:100%;
  height: 248px;
  border-radius: 9px;
}

.wallCarousel {
  width:100%;
  height: 248px;
  border-radius: 9px;
}



/* End Articel carousel */

/* Main Item */
.grid-container {
  margin-top: 20px;
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 144px 144px 144px 144px 144px 144px 144px 144px ;
  grid-gap: 6px;

  /* margin-top: 350px; */
  
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 16px;
  font-family: 'Roboto';
}

.grid-container a {
  color: black;
} 

.mainItem {
  margin-right: 70px;
  margin-left: 70px;
}

.label {
  margin-top: 318px;
  margin-bottom: 10px;
}

.labelStyle {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Roboto';
  color: rgb(108, 197, 70);
}

.labelTitle {
  margin-top: 60px;
}

.todays-item {
  margin-top: 0px;
}

.labelStyleChild{
  font-size: 14px;
  font-weight: lighter;
}

.wallProduct {
  height: auto;
  border-radius: 5px;
}




.section-title-home > h2 {
    color: #434343;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 0.2px;
    
    position: relative;
    font-family: "Roboto";
}
.section-title-home > h2::before {
    background-color: #85bd02;
    bottom: -13px;
    content: "";
    height: 2px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    width: 60px;
}

.popularCategory {
  margin-top: 290px;

}

.iconsCategory {
  filter: invert(62%) sepia(78%) saturate(1414%) hue-rotate(35deg) brightness(94%) contrast(101%);
}

.glider {
  text-align: center;
  padding-top: 20px;
}

.space-content-product {
  position: relative;
  text-align: left;
  padding: 12px;
}

.space-content-product img {
  border-radius: 9px;

}

.spaceNameProduct {
white-space: nowrap; 
overflow: hidden;
text-overflow: ellipsis;
padding-top: 9px;
}

.nameProduct {
  font-weight: normal;
  color: black;
  font-family: "Roboto";
  
}

.conditionProduct {
  font-weight: lighter;
  color: #85bd02;
  font-family: "Roboto";
}

.locationProduct {
  font-weight: lighter;
  color: #b4b4b4;
  font-family: "Roboto";
}

.imgProduct {
  object-fit: cover;
  
}

